<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="test" value ="Ashpak"/>
		<add key="browser" value="Chrome" />
		<add key="Username" value="mashpak@itron.com" />
		<add key="Password" value="ItronGenx123" />
		<add key="ConecctionString" value="oracle:123:ic.com" />
		
	</appSettings>
</configuration>